{% extends 'core/base.html' %}

{% block titulo %}
    Ciudades
{% endblock titulo %}

{% block contenido %}

    <!-- Estilo para el boton de busqueda -->
    <style>
        /* Estilos para el formulario de búsqueda */
        .form-busqueda {
            display: flex;
            align-items: center;
        }

        /* Estilos para el campo de entrada */
        .input-busqueda {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            flex: 1;
        }

        

    </style>


    <!-- Formulario de busqueda -->
    <div class="py-lg-4">
        <form action="{% url 'publicacion:ciudades' %}" method="get" class="form-busqueda">
            <input type="text" name="busqueda" placeholder="Buscar..." class="input-busqueda">
        </form>
    </div>

    
    <div class="row row-cols-1 row-cols-md-2">
        {% for ciudad in ciudades %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">{{ciudad.ciudad}}</h5></a>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">{{ciudad.pais}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    

    <a href="{% url 'core:home' %}"></a>

{% endblock contenido %}