{% extends 'core/base.html' %}
{% block titulo %}
    País: detalle
{% endblock titulo %}

{% block contenido %}

    <style>
        

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #f9f9f9;
        }

        .card-header {
            background-color: #007bff;
            color: white;
            padding: 15px;
            border-bottom: 1px solid #ccc;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;
        }

        .card-body {
            padding: 15px;
        }

        .card-footer {
            padding: 15px;
            border-top: 1px solid #ccc;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .list-group {
            list-style: none;
            padding: 0;
        }

        .list-group-item {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            
        }

        .list-group-item:last-child {
            border-bottom: none;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        .btn-secondary {
            background-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
    </style>




    <div class="container mt-5  ">
        <div class="card">
            <div class="card-header">
                <h2>Detalles de la País</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>{{ object.pais }}</strong> </li>
                        <ul class="list-group">
                            {% for ciudad in pais.ciudades.all %}
                                <li class="list-group-item">
                                    <strong>Ciudad:</strong> {{ ciudad.ciudad }}
                               </li>
                            {% endfor %}
                        </ul>   
                    
                    
                </ul>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary" href="{% url 'publicacion:pais_list' %}">Volver</a>
                <a class="btn btn-success btn-sm" href="{% url 'publicacion:pais_update' pais.id %}">Cambiar</a>
                <a class="btn btn-danger  btn-sm" href="{% url 'publicacion:pais_delete' pais.id %}">Borrar</a>
                <a class="btn btn-success btn-sm" href="{% url 'publicacion:ciudad_create'%}">Agregar Ciudad</a>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock contenido %}