{% extends 'core/base.html' %}

{% block titulo %}
    Home
{% endblock titulo %}

{% block contenido %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Tu casa soñada</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Encuentra tu proximo hogar</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'publicacion:home' %}">Publicaciones</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="{% url 'publicacion:ciudad_list' %}">Ciudades</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://static7.depositphotos.com/1005592/720/i/450/depositphotos_7201198-stock-photo-tranquil-swimming-pool-at-a.jpg" alt="..." /></div>
            </div>
        </div>
    </header>

    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">Nuevo</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <i class="bi bi-globe"></i>
                            </div>
                            <h2 class="h5">Lista de ciudades y países</h2>
                            <p class="mb-0">Encontrarás una lista de Ciudades y Países</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Tipos de publicaciones</h2>
                            <p class="mb-0">Ya sea para venta o alquiler y con sus respectivos precios.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-house"></i></div>
                            <h2 class="h5">Agregá tu ciudad y/o país</h2>
                            <p class="mb-0">Ahora vas a poder agregar a la lista tu ciudad y/o país favorito.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Filtros de busqueda</h2>
                            <p class="mb-0">Agregamos la posibilidad de utilizar filtros para facilitar la búsqueda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    

    
{% endblock contenido %}

