{% extends 'core/base.html' %}

{% block titulo %}
    Login
{% endblock titulo %}

{% block contenido %}

    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div>
        <a href="{% url 'core:home' %}" class="btn btn-secondary">Cancelar</a>
    


{% endblock contenido %}